<div class="message-container" ng-class="{'expanded': tabCtrl.navigationCollapsed}">
        <div class="message">
          <div class="row">
            <div class="toggle-navigation-container detail-page">
              <a href class="collapse-navigation-link ion-navicon"
                 ng-click="tabCtrl.navigationCollapsed=!tabCtrl.navigationCollapsed"></a>
            </div>
            <button ui-sref="components.mail.label({label : detailCtrl.label})"  type="button" class="back-button btn btn-default btn-with-icon"><i
                class="ion-chevron-left"></i>Back
            </button>
          </div>
          
          <div class="row">
          </div>
          <div class="line"></div>
          
          <div class="line"></div>
          <div ng-bind-html="detailCtrl.mail.body" class="message-body">
      
          </div>
          <div class="line"></div>
          
       
         
      
      
      </div>